<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <title></title>
  </head>
  <body>
    <h2> Sign up Form</h2>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="" method="POST">
			{% csrf_token %}
			<h1>Create Account</h1>
			<div class="col-md-6">
				<div class="form-group position-relative">
				{{form.name}}
				</div>
				{% if form.name.errors %}
				{% for error in form.name.errors %}
				<div class="alert alert-danger">
				<strong>{{ error|escape }}</strong>
				</div>
				{% endfor %}
				{% endif %}
				</div>
				<div class="col-md-12">
				<div class="form-group position-relative">
				{{form.email}}
				</div>
				{% if form.email.errors %}
				{% for error in form.email.errors %}
				<div class="alert alert-danger">
				<strong>{{ error|escape }}</strong>
				</div>
				{% endfor %}
				{% endif %}
				</div>
				<div class="col-md-12">
				<div class="form-group position-relative">
				{{form.username}}
				</div>
				{% if form.username.errors %}
				{% for error in form.username.errors %}
				<div class="alert alert-danger">
				<strong>{{ error|escape }}</strong>
				</div>
				{% endfor %}
				{% endif %}
				</div>
				<div class="col-md-12">
				<div class="form-group position-relative">
				{{form.password1}}
				</div>
				{% if form.password1.errors %}
				{% for error in form.password1.errors %}
				<div class="alert alert-danger">
				<strong>{{ error|escape }}</strong>
				</div>
				{% endfor %}
				{% endif %}
				</div>
				<div class="col-md-12">
				<div class="form-group position-relative">
				{{form.password2}}
				</div>
				{% if form.password2.errors %}
				{% for error in form.password2.errors %}
				<div class="alert alert-danger">
				<strong>{{ error|escape }}</strong>
				</div>
				{% endfor %}
				{% endif %}
				</div>
				 <div class="col-md-12">
				<div class="form-group">
				<div class="custom-control">
				{{form.check}}
				<label >I Accept <a href="#" class="text-primary">Terms And Condition</a></label>
				</div>
				{% if form.check.errors %}
				{% for error in form.check.errors %}
				<div class="alert alert-danger">
				<strong>{{ error|escape }}</strong>
				</div>
				{% endfor %}
				{% endif %}
				</div>
				</div>
				<div class="col-md-12">
				<button class="btn btn-primary w-100" type="submit" >Register</button>
				</div>
		</form>
	</div>

	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<a href="{% url 'login' %}"><button class="ghost" id="signIn">Sign In</button></a>
			</div>

		</div>
	</div>
</div>



  </body>
</html>
